<?php

use Doctrine\DBAL\Driver\PDOPgSql\Driver as PDOPgSqlDriver;

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => PDOPgSqlDriver::class,
                'params' => [
                    'host'     => '<host>',
                    'port'     => '<port>',
                    'user'     => '<user>',
                    'password' => '<password>',
                    'dbname'   => '<dbname>',
                ]
            ],            
        ],        
    ],
];